.conta-cont {
    background-color: #fdfdfe;
    padding: 60px;
    display: flex;
    justify-content: center;

}

.con-left {
    padding: 20px;
    background-color: #2357e7;
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 50%;
    padding-left: 20px;

    h3 {
        color: #ebfbff;
    }

    p {
        color: #93c4f8;
        margin: 0px;
    }

    h4 {
        color: #d5effc;
    }
}
.email-ever{
    text-decoration: none;
    color: #93c4f8;
}

.con-right {
    padding: 20px;
    background-color: #f8f8f9;
    width: 50%;

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 20px;
    }

    label {
        color: #43434a;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    input {
        border: 1px solid #e3e3e6;
        border-radius: 5px;
        padding: 6px;
        width: 300px;
        height: 20px;
        margin-bottom: 10px;
        outline: none;
    }

    input:focus::placeholder {
        color: transparent;
    }

    textarea:focus::placeholder{
        color: transparent;
    }
    textarea{
        outline: none;
    }

    /*select{
        background-color: #e6e4e6;
        border: 1px solid #e3e3e6;
        padding: 6px;
        width: 300px;
        height: 30px;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        outline: none;
    }*/
    select {
        width: 300px;
        background-color: transparent;

    }

    button {
        width: 320px;
        background-color: #2257e7;
        color: #d5effc;
        padding: 10px;
        font-family: "Roboto";
        font-size: small;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        margin-top: 10px;
    }
}

@media (max-width: 425px){
    .conta-cont{
        flex-direction: column;
        padding: 40px;
        align-items: center;
    }
    .con-left{
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .con-right{
        width: 100%;
        form{
            margin-left: 0px;
        }
        input{
            width: 200px;
        }
        button{
            width: 230px;
        }
    }
    
}