.bg-testi-cont{
    background-color: #f8f8f9;
    display: flex;
    align-items: center;
    padding: 50px;
    flex-direction: column;
}
.testi-ul{
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: flex-start;
}
li{
    list-style-type: none;
}
.testi-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: #fdfdfc;
    padding: 20px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 10px;

}
.name-cont{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
}
.name-posi-cont{
    margin-left: 20px;
}
.name-cont{
    h2{
        font-size: 30px;
        color: #3253a1;
        margin: 0px;
    }
    h3{
        font-size: 16px;
        margin-bottom: 3px;
    }
    p{
        margin-top: 0px;
        font-size: 13px;
        color: #7d7c7e;
        font-weight: 500;
    }
}
.name-bg-cont{
    border: none;
    border-radius: 30px;
    width: 55px;
    height: 55px;
    background-color: #dbe5f9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stars-cont{
    align-self: flex-start;
    width: 50%;
    display: flex;
}
.star{
    color: #f3ca18;
    font-size: large;
    margin-right: 10px;
}
.desc{
    font-size: 14px;
    color: #5b5b5c;
    font-weight: 600;
}
.tr-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: stretch;
    margin-top: 50px;
    margin-bottom: 60px;
}
.tr-card-cont{
    background-color: #eaeaeb;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        color: #0c0cc25b;
        margin: 0px;
        font-weight: bold;
    }
}
.comp-logos{
    height: 50px;
}

@media (max-width: 768px) {
    .comp-logos{
    height: 30px;
}
.tr-card-cont{
     padding-top: 7px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100px;
    p{
        font-size: small;
    }
}
}

@media (width: 320px) {
    .testi-card{
        width: 200px;
    }
}